.vis{*display:inline;zoom:1;}
.vis-2{*display:none;zoom:1;}
.vis-5{*display:none;zoom:1;}
.vis-6{*display:none;zoom:1;}
.vis-7{*display:inline;zoom:1;}
.vis-8{*display:inline-block;zoom:1;}
.vis-10{*display:none;zoom:1;}
.vis-12{*display:inline;zoom:1;}
.vis-14{*display:inline;zoom:1;}
.vis-15{*display:inline-block;zoom:1;}
.vis-16{*display:none;zoom:1;}
